/**
* Setting global vars here
*/
:root {
  --primaryColor: black;
  --secondaryColor: white;
  --tertiaryColor: rgb(146, 100, 252);
  --color1: #000424;
  --color2: #162292;
  --color3: #18dcd0;
  --color4: #daffed;
  --color5: #1259c5;
}

body {
  background-color: var(--color1);
  margin: 0 auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

header {
  position: sticky;
  top: 0;
  background: white;
  height: 4rem;
  z-index: 1;
}
nav {
  display: flex;
  background-color: white;
  flex-direction: column;
  gap: 1rem;
  min-height: 100%;
  justify-content: center;
}
nav button {
  background: white;
  border: none;
  font-size: 2rem;
  color: var(--color2);
  margin: 0 auto;
  height: 100%;
}
nav.mobile-open ul {
  display: flex;
}
nav:not(.mobile-open) ul {
  display: none;
}
nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: max-content;
  list-style: none;
  gap: 2rem;
  font-size: 2rem;
  padding: 0;
  background-color: white;
}
nav ul li {
  margin: 0.5rem 1rem;
}

br {
  line-height: 2.5;
}

a {
  color: var(--color2);
  text-decoration: none;
  padding: 1rem 1rem 1.5rem;
  border-radius: 0 0 1rem 1rem;
}
a:hover {
  color: var(--color2);
  background-color: var(--color3);
}

h1 {
  font-size: 2rem;
  color: white;
  margin: 0;
}

h2 {
  font-size: 1.7rem;
  color: white;
  margin: 0;
  line-height: 1.5;
}

h3 {
  font-size: 1.6rem;
  width: 100%;
  color: white;
  margin: 0;
  line-height: 1.5;
  text-align: start;
}

p {
  font-size: 1.3rem;
  color: white;
  margin: 0;
  font-family: monospace;
  line-height: 1.5;
  text-align: start;
}

section {
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 900px;
  gap: 1rem;
  width: 100%;
  padding: 1.5rem;
  padding-top: 5rem;
}

.thumbnail {
  height: 4rem;
}

.gallery {
  height: 100%;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin: 4rem 0;
}
.gallery img {
  background-color: var(--secondaryColor);
  object-fit: cover;
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
  /* border-radius: 100%; */
  transition: all 0.2s linear;
  /* box-shadow: 0rem 0rem var(--color3); */
}
.gallery figure img:hover {
  box-shadow: 0rem 0rem 0rem 0.5rem var(--color3);
  transform: scale(102%);

  z-index: 1;
}
.gallery figure:nth-child(2n + 1) img {
  border-radius: 0 4vw 4vw 0%;
}

.gallery figure:nth-child(2n) img {
  border-radius: 4vw 0 0 4vw;
}

.sketchbook-gallery .item {
  display: grid;
  grid-template-rows: 1fr 6rem;
  background-color: white;
}
.sketchbook-gallery h2,
.sketchbook-gallery p {
  color: var(--color1);
}
.sketchbook-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}
.sketchbook-gallery .item img {
  padding: 0.5rem;
}
.sketchbook-gallery .item:nth-child(3n + 2) {
  transform: rotate(-2deg);
}
.sketchbook-gallery .item:nth-child(3n + 1),
.sketchbook-gallery .item:nth-child(3n + 3) {
  transform: rotate(2deg);
}

.sketchbook-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  inset: 0;
  background-color: rgba(1, 1, 37, 0.774);
  backdrop-filter: blur(6px);
}
.sketchbook-modal div {
  position: fixed;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  inset: 4rem;
}

/* the hero section of the website*/
section.hero {
  flex-direction: column;
  /* min-height: calc(100vh - 4rem); */
}
section.hero div:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem 0;
  width: 100%;
}
section.hero div:nth-child(2) p {
  text-align: center;
}

section .grass {
  height: 10rem;
  width: 100vw;
  background: linear-gradient(#1c0040, transparent);
  /* box-shadow: 0 65px 50px #1c0040; */
  inset: 0;
  top: unset;
  bottom: 0;
}
section.hero h1 .my-name {
  font-size: 5rem;
  font-weight: bolder;
}
section.hero img {
  align-self: flex-end;
  margin-bottom: -1rem;
}

.cloud {
  height: max-content;
  position: relative;
  margin-bottom: 1rem;
  padding: 3rem;
}
.cloud img {
  width: 100%;
}
.cloud img:nth-child(2),
.cloud img:nth-child(3) {
  position: absolute;
  width: 40%;
  top: 80%;
}
.cloud img:nth-child(2) {
  inset-inline-end: 0;
}

.cloud img:nth-child(3) {
  inset-inline-start: 0;
}

@keyframes float {
  0% {
    transform: scale(1000%);
  }
  30% {
    transform: scale(100%, 100%) rotate(-40deg);
  }
  100% {
    transform: scale(100%);
  }
}

@keyframes hue {
  to {
    filter: hue-rotate(-80deg);
  }
}

@keyframes size {
  from {
    border-radius: 10vw;
  }
}

@keyframes swipe {
  from {
    filter: brightness(0.8) hue-rotate(-60deg) opacity(0);
  }
  to {
    filter: brightness(0) hue-rotate(0) hue-rotate(1);
  }
}

/* 2 */
.golden-me {
  width: 100vw;
  height: calc(100vw * 1 / (16 / 9));
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 0.5vw;
  margin: 4rem 0;
  background-color: var(--color3);
  padding: 0.5vw 10vw;
}
.golden-me.small {
  height: 30vh;
}

.golden-me div {
  overflow: hidden;
  animation: size 5000ms ease infinite alternate-reverse;

  --delay: 0ms;
}

.golden-me div span {
  background-image: linear-gradient(rgba(40, 34, 219, 0.9)),
    url("../img/me.png");
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: lighten;
  /* filter: blur(3px) hue-rotate(-40deg) opacity(0.1); */
  width: 140%;
  height: 140%;
  display: block;
  transition: all 200ms ease-in;
  /* animation: blur 3000ms ease-in-out infinite alternate-reverse; */
  --pos: 0vw;
  box-shadow: inset var(--pos) 0px var(--color3);
  /* animation: hue 2s linear infinite alternate; */
  animation: swipe 3s linear var(--delay) infinite alternate-reverse;

  /* transition: box-shadow 200ms ease-in; */
  /* animation: ripple 2s linear infinite alternate; */
}
/* .golden-me:hover span {
  filter: blur(0px) ;
} */

.golden-me div:nth-child(1) {
  grid-row-start: 1;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 3;
  border-start-start-radius: 0;
  border-end-start-radius: 0;
  --delay: 500ms;
}
.golden-me div:nth-child(2) {
  grid-row-start: 4;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 6;
  --delay: 1500ms;
}
.golden-me div:nth-child(3) {
  border-start-end-radius: 0;
  border-end-end-radius: 0;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 5;
  grid-column-end: 7;
  --delay: 400ms;
}
.golden-me div:nth-child(4) {
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 5;
  grid-column-end: 5;
  --delay: 900ms;
}
.golden-me div:nth-child(5) {
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 5;
  --delay: 2000ms;
}
.golden-me div:nth-child(6) {
  border-start-end-radius: 0;
  border-end-end-radius: 0;
  grid-row-start: 3;
  grid-row-end: 5;
  grid-column-start: 6;
  grid-column-end: 6;
}

@media (width > 800px) {
  nav button {
    display: none;
  }
  nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: max-content;
    list-style: none;
    gap: 2rem;
    font-size: 2rem;
    padding: 0;
  }
  nav:not(.mobile-open) ul {
    display: flex;
  }
  nav ul li {
    margin: 0.5rem 1rem;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
    line-height: 1.5;
  }

  h3 {
    font-size: 1.7rem;
    line-height: 1.5;
  }

  p {
    font-size: 1.5rem;
    line-height: 1.5;
  }

  section.hero h1 .my-name {
    font-size: 7rem;
  }

  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }

  .gallery figure:nth-child(4n + 1) img {
    border-radius: 0 4vw 4vw 0%;
  }
  .gallery figure:nth-child(4n + 2) img,
  .gallery figure:nth-child(4n + 3) img {
    border-radius: 4vw;
  }
  .gallery figure:nth-child(4n + 4) img {
    border-radius: 4vw 0 0 4vw;
  }
}
